@font-face {
    font-family: 'montserrat_alternatesblack';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-black-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-bold-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatesXBd';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatesXLt';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-extralight-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-light-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatesmedium';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-medium-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatessemibold';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-semibold-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatesthin';
    src: url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-thin-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-Montserrat_Alternates/montserratalternates-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}