@import 'components/reset';
@import 'components/cube';
@import 'montserratalternates';
:root{
    --bg-color:                   #001721;  
    --cube-top-bg:                #3A931D; 
    --cube-left-bg:               #072107;
    --cube-front-bg:              #115911;
    --cube-down-bg:               #f98d01; 
    --color-up-hover:             #f98d01;
    --color-text:                 #888;
    --font-size-base:               16px;
    --cube-size:                    40px;

    --paddin-lightbox:             calc(3 * var(--font-size-base)) 0 calc(1 * var(--font-size-base)) calc(2 * var(--font-size-base));

    @media (min-width: 660px) and (min-height:660px) {
        --cube-size:                    60px;
    }
    @media (min-width: 800px) and (min-height: 800px) {
        --cube-size:                    75px;
    }
}
* {
    box-sizing: border-box; 
  }
html{
    background-color: var(--bg-color);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    font-family: 'montserrat_alternatesregular';
    font-size: var(--font-size-base);
    margin: 0;
    padding: 1em;
    background-image: url(../images/luces.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow-x: hidden;
    transition: all 2s ease-in;
    &.ooo-inGame{
        background-position: 0 calc(-2 * 101vh);
        transition: all 2s ease-in;
    }
    &.ooo-active{
        .ooo-cube{
            pointer-events: none;
        }
    }
}
h1{
    font-size: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
}
h2{
    font-size: 20px;
    margin-bottom: 1em;
    margin-top: 0;
    strong{
        font-size: 2em;
        display: block;
        font-family: 'montserrat_alternatesbold';
        img{
            height: .8em;
        }
    }
}
a{
    color: var(--color-text)
}
img{
    max-width: 100%;
}
.ooo-animaLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 1100;
    transform: scale(1);
    transition: all 1s ease;
    &.ooo-off{
        transform: scale(50);
    }
    .ooo-anima-bg{
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        z-index: 2000;
        background-image: url(/images/anima/fondo-logo.svg);
        background-size: 180px;
        background-position: 50%;
        
        transition: all 1s ease-in-out;
        opacity: 1;
        &.ooo-off{
            transition: all 1s ease-in-out;
            opacity: 0;
        }
    }
    .ooo-logo{
        z-index: 2;
        position: relative;
        width: 300px;
        height: 162px;
        margin-top: 43px;
        > div{
            position: absolute;
            left: 0;
            top: 0;
            &.ooo-logo01{
                width: 300px;
                height: 173px;
                opacity: 0;
                transition: all 1s ease-in-out;
                &.ooo-active{
                    opacity: 1;
                    transition: all 1s ease-in-out;
                    transition-delay: 2s;
                    z-index: 2;
                }
            }
            &.ooo-logo-20{
                z-index: 2;
                width: 212px;
                height: 162px;
                opacity: 0;
                transition: all 1s ease-in-out;
                &.ooo-active{
                    opacity: 1;
                    transition: all 1s ease-in-out;
                    transition-delay: 1s;
                }
                &.ooo-position{
                    z-index: 2;
                    height: 35px;
                    margin-left: 135px;
                    margin-top: 40px;
                    transition: all 1s ease-in-out;
                }
            }
            &.ooo-logo-years{
                width: 300px;
                height: 162px;
                opacity: 0;
                transition: all 1s ease-in-out;
                &.ooo-active{
                    opacity: 1;
                    transition: all 1s ease-in-out;
                    transition-delay: 1s;
                }
            }
            &.ooo-logo02,
            &.ooo-logo03,
            &.ooo-logo04,
            &.ooo-logo05,
            &.ooo-logo06{
                width: 300px;
                height: 162px;
                margin-top: 40px;
                transition: all .5s ease-in-out;
                opacity: 0;
                &.ooo-active{
                    margin-top: 0;
                    transition: all 1s ease-in-out;
                    opacity: 1;
                }
            }
            &.ooo-logo02.ooo-active{transition-delay: 0.25s;}
            &.ooo-logo03.ooo-active{transition-delay: 0.5s;}
            &.ooo-logo04.ooo-active{transition-delay: 0.75s;}
            &.ooo-logo05.ooo-active{transition-delay: 1s;}
            &.ooo-logo06.ooo-active{transition-delay: 1.25s;}
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.ooo-decora{
    opacity: 0;
    overflow: hidden;
    width: 100%;
    transition: all .5s ease-in-out;
    &.ooo-active{
        transition: all .5s ease-in-out;
        opacity: 1;
    }
}
.ooo-content{
    text-align: center;
}
.ooo-container-3D {
	position: relative;
	perspective: 3000px;
	transform-style: preserve-3d;
	display: flex;
    margin: 0;
    padding: 0;
	padding-top: calc(var(--cube-size) * 4.2);
    margin-bottom: calc(var(--cube-size) * -2.5);
    z-index: 1;
    opacity: 1;
    transition: all 2s ease-in;
    .ooo-inGame &{
        opacity: 0;
        transition: all 2s ease-in;
    }
}
.ooo-star{
    position: relative;
    width: calc(var(--cube-size) * 1.8);
    height: calc(var(--cube-size) * 1.8);
    margin: auto;
    background-image: url('../images/strella.svg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: estrella-anima 20000ms infinite linear;
}
.ooo-tree {
	transform: rotateX(40deg) rotateZ(-45deg);
	transform-style: preserve-3d;
	display: grid;
	grid-template-columns: repeat(6, var(--cube-size));
	grid-template-rows: repeat(6, var(--cube-size));
	margin: auto;
    // Colocamos en la cuadricula 3D
    .ooo-cube {
        color: var(--color-text);
        .up{
            color: #fff;
        }
        font-size: var(--font-size-base);
        cursor: pointer;
        // &.ooo-openBox.ooo-active{
        //     pointer-events: none;
        //     .gift-content{
        //         opacity: 0;
        //     }
        // }
        > div.gift-content{
            transform: rotateX(-90deg) translateZ(0px) translateY(-45px) translateX(0px) rotateY(45deg);
            background-color: #f2f2f2;
            padding: 1em;
            font-size: 8px;
            border: 3px solid #fff;
            @media (min-width: 660px) {
                font-size: 10px;
            }
            @media (min-width: 800px) {
                font-size: 13;
            }
            opacity: 0;
        }
        &:hover > div.gift-content,
        &.ooo-active > div.gift-content{
            transform: rotateX(-90deg) translateZ(0) translateY(calc( -1.5 * var(--cube-size))) translateX(0px) rotateY(45deg);
            opacity: 1;
        }
        // tarjetas
        &[data-cube='c-1'] .gift-content{
            background-image: url(/images/tarjetas/gigantas.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    > div:nth-child(6){
        grid-column-start: 2;
    }
    > div:nth-child(11){
        grid-column-start: 3;
    }
    > div:nth-child(15){
        grid-column-start: 4;
    }
    > div:nth-child(18){
        grid-column-start: 5;
    }
    > div:nth-child(20){
        grid-column-start: 6;
    }
  
    // cambiamos alturas
    > div:nth-child(5),
    > div:nth-child(10){
        transform: translateZ(calc(5 * var(--cube-size)));
        &:hover,
        &.ooo-active{
            transform: rotate(90deg) translateZ(calc(5 * var(--cube-size)));
            .back{
                background-color: #e86500;
            }
            .up{
                opacity: 0;
            }
            .left{
                background-color: #bd5200;
            }
        }
    }
    > div:nth-child(4),
    > div:nth-child(9),
    > div:nth-child(14){
        transform: translateZ(calc(4 * var(--cube-size)));
        &:hover,
        &.ooo-active{
            transform: rotate(90deg) translateZ(calc(4 * var(--cube-size)));
            .back{
                background-color: #e86500;
            }
            .up{
                opacity: 0;
            }
            .left{
                background-color: #bd5200;
            }
        }
    }
    > div:nth-child(4),
    > div:nth-child(9),
    > div:nth-child(14){
        transform: translateZ(calc(4 * var(--cube-size)));
        &:hover,
        &.ooo-active{
            transform: rotate(90deg) translateZ(calc(4 * var(--cube-size)));
            .back{
                background-color: #e86500;
            }
            .up{
                opacity: 0;
            }
            .left{
                background-color: #bd5200;
            }
        }
    }

    > div:nth-child(3),
    > div:nth-child(8),
    > div:nth-child(13),
    > div:nth-child(17){
        transform: translateZ(calc(3 * var(--cube-size)));
        &:hover,
        &.ooo-active{
            transform: rotate(90deg) translateZ(calc(3 * var(--cube-size)));
            .back{
                background-color: #e86500;
            }
            .up{
                opacity: 0;
            }
            .left{
                background-color: #bd5200;
            }
        }
    }
    > div:nth-child(2),
    > div:nth-child(7),
    > div:nth-child(12),
    > div:nth-child(16),
    > div:nth-child(19){
        transform: translateZ(calc(2 * var(--cube-size)));
        &:hover,
        &.ooo-active{
            transform: rotate(90deg) translateZ(calc(2 * var(--cube-size)));
            .back{
                background-color: #e86500;
            }
            .up{
                opacity: 0;
            }
            .left{
                background-color: #bd5200;
            }
        }
    }
    > div:nth-child(1),
    > div:nth-child(6),
    > div:nth-child(11),
    > div:nth-child(15),
    > div:nth-child(18),
    > div:nth-child(20){
        transform: translateZ(calc(1 * var(--cube-size)));
        &:hover,
        &.ooo-active{
            transform: rotate(90deg) translateZ(calc(1 * var(--cube-size)));
            .back{
                background-color: #e86500;
            }
            .up{
                opacity: 0;
            }
            .left{
                background-color: #bd5200;
            }
        }
    }

}
.ooo-cube{
    color: rgb(176, 253, 166, 0.1);
    &:hover,
    &.ooo-active{
        .front{
            background-color: var(--cube-left-bg);
            transition: all 1s;
        }

    }
    >div{
        border: none;
        background-color: var(--cube-left-bg);
        transition: all 1s;
    }
    .back{
        background-color: #f98d01;
    }
    .up{
        background-color: var(--cube-top-bg);
    }
    .left{
        background-color: var(--cube-left-bg);
    }
    .front, .right{
        background-color: var(--cube-front-bg);
    }
    .down{
        background-color: var(--cube-down-bg);
    }
}
.logo-osoco{
    img{
        width: 150px;
        margin: 0 auto;
        display: block;
    }
}

.ooo-lightBox{
    display: flex;
    justify-content: flex-end;
    position:fixed;
    padding: 1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    &.ooo-active{
        pointer-events: initial;
        opacity: 1;
        background-color: rgba($color: #1a0601, $alpha: 0.6);
    }

    > div{
        position: relative;
        display: none;
        max-width: 500px;
        max-height: 500px;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        color: #072107;
        padding: var(--paddin-lightbox);
        border-radius: 4px;
        border: 1px solid #555;
        box-shadow: -73px 49px 60px 0px rgba(0,0,0,0.45);
        &.ooo-active{display: block;}
        &:after,
        &::before{
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 10px;
            display: block;
            content: "";
            background-color: #555;
            width: calc(1.5 * var(--font-size-base));
            height: 4px;
            transform: rotate(45deg);
        }
        &::before{
            transform: rotate(-45deg);
        }
        .ooo-scroll{
            overflow: auto;
            max-height: 100%;
            padding-right: calc(2 * var(--font-size-base));
            h2{
                margin-top: 1em;
                margin-bottom: 0;
            }
        }
    }
}
#ooo-game{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
    &.ooo-active{
        display: flex;
    }
}

  
@keyframes estrella-anima {
    to {
      transform: rotate(180deg) translate(0px, 0px);
    }
  }
  